@model IEnumerable<DDAC2.Models.Transport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Container.ContainerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipyard.ShipYardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipyard2.ShipYardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Container.ContainerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship.ShipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipyard.ShipYardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipyard2.ShipYardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransportID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransportID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransportID })
        </td>
    </tr>
}

</table>
